.towar{
    background-color:white;
  }
  
.avatar{
  border-radius: 50%;
 height: 175px;
 width:175px;
 
  padding:0px ;
  
  margin-top:25px;
  margin-bottom:25px;
 border: 5px solid #555;;
}
.body{
  background-color: #D9D9D9;
}
#towars{
  font-family: 'Roboto', sans-serif;
  color:#202020;
  padding-top:79px;
  margin-left:500px;
  font-size: 42px;
}
.product{
margin-top:75px;
margin-left:25px;

}
.ap{
  display: flex;
  flex-direction: row;
  
 
  padding-left:100px ;
}
#ds{
  font-family: 'Playfair Display', serif;
}