.aboutuss{
  padding-top:25px ;
  background-color: #D9D9D9;
  text-align: center;
}
#aboutus{
  
  width: 250px;
}
.textaboutus{
  padding: 50px;
  color:rgb(0, 0, 0);
  font-family: 'Playfair Display', serif;
}